{% extends "base.html" %}
{% block content %}
 
<div class="container">
  <div class="row">
    <div class="col s12 m9 l10">

      <div id="introduction">
      </div>
    </div>
  </div> 
  <div class="row">
			   <form class="col s12 m8 l10" action="/plot" method="post" name="plot">
              		<div class="row">
							<div class="input-field col s10">
								<input name ="username" id="username" type="hidden" value={{ username }}>
							</div>
						</div>
						<div class="row">
							<div classgernerte="input-field col s10">
								<input name ="treeSpecies" id="treeSpecies" type="text" class="validate">
								<label for="treeSpecies">Tree Species</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s10">
							<label for="treeDescription">Description</label>
							<textarea name ="treeDescription" id="treeDescription" class="materialize-textarea"></textarea>
							</div>
						</div>
              		<div class="row">
							<div class="input-field col s10">
                       <input name ="geoLat" id="geoLat" type="number" step="any" class="validate">
								<label for="geoLat">Latitude</label>
							</div>
						</div>
              		<div class="row">
							<div class="input-field col s10">
								<input name ="geoLng" id="geoLng" type="number" step="any" class="validate">
								<label for="geoLng">Longitude</label>
							</div>
              		</div>
                    <div class="row">
                      <div class="input-field col s10">
                      <input type="checkbox" class="filled-in" id="qrTagged" checked="checked" />
      						<label for="qrTagged">QR Tagged</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12 m6">
                      <select class="browser-default" name="treeCondition">
                        <option value="" disabled selected>Tree Condition</option>
                        <option value='Healthy'>Healthy</option>
                        <option value='Damaged'>Damaged</option>
                        <option value='Dying'>Dying</option>
                      </select>
                    	</div>
                    </div>
                    <div class="row">
                      <div class="input-field col s3 m3">
          					<input placeholder="centimetres" name="treeCircum" id="treeCircum" type="text" class="validate">
          					<label for="treeCircum">Tree circumference</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s5 m5">
                      <select class="browser-default" name="treeLocation">
                        <option value="" disabled selected>Tree Location</option>
                        <option value="Open Space">Open Space</option>
                        <option value="Woodland">Woodland</option>
                      </select>
                    </div>
                    </div>
						<button class="btn waves-effect waves-light" type="submit" class="btn btn-success">Save 
						<i class="material-icons">send</i>
						</button>
    </form>
</div>

{% block script %}
<script>
window.onload = function() {
  var startPos;
  var geoOptions = {
    enableHighAccuracy: true
  }

  var geoSuccess = function(position) {
    startPos = position;
    document.getElementById('geoLat').value = startPos.coords.latitude;
    document.getElementById('geoLng').value = startPos.coords.longitude;
  };
  var geoError = function(error) {
    console.log('Error occurred. Error code: ' + error.code);
    // error.code can be:
    //   0: unknown error
    //   1: permission denied
    //   2: position unavailable (error response from location provider)
    //   3: timed out
  };

  navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
};
</script>
{% endblock script %}
{% endblock content %}