{% extends "base.html" %} 
{% block main_content %}
<div class="container">
	<div class="row">
		<ul class="collapsible" data-collapsible="accordion">
		    <li>
			    <div class="collapsible-header"><i class="material-icons">library_add</i>Add a Species</div>
			    <div class="collapsible-body">
			    	<form class="col l6 m8 s12" action="" method="post">
						<div class="row">
							<div class="input-field col s10">
								<input name ="speciesName" id="speciesName" type="text" class="validate">
								<label for="speciesName">Species Name</label>
							</div>
						</div>
						<div class="row">
						<div class="input-field col s6">
								<input name="treeType" type="radio" id="Deciduous" value="Deciduous" />
								<label for="Deciduous">Deciduous</label>
						</div>
						<div class="input-field col s6">
								<input name="treeType" type="radio" id="Evergreen" value="Evergreen" />
								<label for="Evergreen">Evergreen</label>
						</div>
						</div>
						<div class="row">
							<div class="input-field col s10">
							<label for="treeDesc">Description</label>
							<textarea name ="treeDesc" id="treeDesc" class="materialize-textarea"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="input-field">
            					<div class="btn"><span>Leaf</span></div>
            					<input type="file">
          					</div>
          				</div>
						<div class="row">
						<div class="input-field">
            				<div class="btn"><span>Fruit</span></div>
            					<input type="file">
          					</div>
						</div>
						<button class="btn waves-effect waves-light" type="submit" class="btn btn-success">Save 
						<i class="material-icons">send</i>
						</button>
					</form>
			    </div>
		    </li>
		    <li>
				<div class="collapsible-header"><i class="material-icons">library_books</i>Tree Species</div>
				<div class="collapsible-body">
				{% for species in speciesList %}
				<div class="col s8">
				<div class="divider"></div>
				{{species.speciesName}}
				</div>
				<div class="col s4">
				<button>Edit</button>
				</div>
				{% endfor %}
				</div>
			</li>
		</ul>
	</div>
</div>
{% endblock main_content %}.. 