.btn-cent {
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family: Arial;
  color: #537694;
  font-size: 30px;
  background: #ebe8b5;
  padding: 50px 50px;
  text-decoration: none;
}

.btn-cent:hover {
  .btn:hover {
  background: #dffc3c;
  text-decoration: none;
}